#calculator{
    border: 1px solid rgb(230, 221, 221);
    border-radius: 5px;
    width: 200px;
}
#display{
    margin: 10px;
    width: 85%;
    font-size: 30px;
    text-align: right;
}
.btn-containor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.btn{
    width: 45px;
height: 45px;
margin: 3px;
}